# Maven Central / Sonatype credentials
mavenCentralUsername=YOUR_USERNAME_HERE
mavenCentralPassword=YOUR_PASSWORD_HERE

# PGP Signing credentials
# To generate a GPG key, use: gpg --full-generate-key
# After generation, upload your public key to a keyserver:
# gpg --keyserver hkps://keyserver.ubuntu.com --send-keys YOUR_KEY_ID
signing.keyId=YOUR_KEY_ID_HERE
signing.password=YOUR_KEY_PASSWORD_HERE
signing.secretKeyRingFile=PATH_TO_YOUR_SECRING_GPG
